.git
.gitignore
.dsh
.env
.env.*
private-docs

**/node_modules
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/*.tsbuildinfo

frontend/dist
backend/data
*.db
*.sqlite3

.vscode
.idea
.DS_Store
